body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.tabulance-log-in{
    padding-left: 25em;
}

.greeting{
    margin-top: 1.1em;
    color: white;
    padding-left: 19em;
}

.user-details{
    color: #139224;
}

.no-match{
    margin: 1em;
    font-family:Calibri;
    font-size: 1.5em;
    color: red;
}

.search-box{
    margin-top: 2em;
    margin-bottom: 2em;
}